<form action="/posts" method="post" class="w-full">
  <textarea
    name=""
    id=""
    class="border border-purple-700 rounded p-2 w-full mb-3"
    placeholder="What do you want to share today?"
  ></textarea>

  <button class="bg-purple-700 text-white py-1 px-2 rounded w-full">
    SHARE
  </button>
</form>
