<% for( let index = 0; index < 10; index++ ) { %>
<div class="border-t my-4 py-4">
  <div class="flex items-center justify-between mb-4">
    <div class="font-bold text-lg text-purple-700">User</div>
    <div class="text-sm text-slate-400">1 min ago</div>
  </div>
  <div class="text-slate-500">
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Saepe aliquam
    laudantium, laborum fugit repellat, quisquam ratione ut veritatis
    dignissimos rem unde? Ratione deleniti dolorum doloremque repellendus. Sequi
    dicta laudantium quo.
  </div>
</div>
<% } %>
