<% posts.forEach(el => { %>
<div class="border-t my-4 py-4">
  <div class="flex items-center justify-between mb-4">
    <div class="font-bold text-lg text-purple-700"><%= el.User.name %></div>
    <div class="text-sm text-slate-400">
      <%= moment(el.createdAt).fromNow() %>
    </div>
  </div>
  <div class="text-slate-500"><%- el.body.replaceAll('\n', '<br />') %></div>
</div>
<% }) %>
